:root {
	--genwidth: 850px ;
	--navwidth: 175px ;
}

p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}

sup { vertical-align: top; font-size: 0.6em; }

nav,footer {
    text-align: center ;
    font-variant: small-caps ;
    clear: both ;
}

nav {
	background: #222 ;
	border-radius: 20px ;
	max-width: var(--genwidth) ;
	margin: auto ;
	border: dashed 1px white ;
}

footer { font-size: large ; }

nav li,footer li {
	display: inline-block ;
	list-style: none ;
	background: rgba(0,0,0,.3) ;
	border-radius: 10px ;
	padding: .5em ;
	max-width: 7em ;
}

nav ul, footer ul, #taglist {
	padding: 0;
}

nav a:hover li, footer a:hover li {
	background: goldenrod ;
	color: black ;
}

main {
	margin: auto ;
	color: #ddd ;
}

strong { color: white ; }

a strong { color: lime ; }

details { padding-left: 20px ; text-decoration: underline; }

pre {
	background: #222 ;
	border: 1px solid lime ;
	border-radius: 20px ;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
}

code {
	background: #222 ;
	color: lime ;
	border-radius: 5px ;
	overflow-wrap: break-word ;
}

.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
}
ul {
	margin-left: 20px ;
	margin-right: 20px ;
}

li img, p img {
	max-height: 1em ;
	max-width: 1em ;
}

body {
	font-style: sans-serif ;
	background: black ;
}

h1,h2,h3,h4 { text-align: center ; }

h1 { color: lightblue ; }

h2 { color: goldenrod ; }

h3 { color: tomato ; }

h4 { color: deepskyblue ; }

a { color: turquoise ; text-decoration: none ;}

a:hover { color: greenyellow ;}
.new a:hover { color: greenyellow ; }


dt { font-weight: bold ; color: lightgray ; }

.resright, .resmid {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 300px ;
}

.disappear {
	display: none ;
}

.titleimg {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
}

.lol {
	padding: .25em ;
}

.lol ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

/* .lol li { */
/* 	padding: 1px ; */
/* } */

/* This should be genwidth + (navwidth*2) + padding */
@media (min-width: 1200px) {
	nav {
		float: left ;
		width: 175px ;
		position: fixed ;
		text-align: left ;
		font-size: large ;
	}
	nav::before {
		content: "Links" ;
		text-align: center ;
		display: block ;
		font-size: large ;
		color: violet ;
		text-decoration: underline ;
		margin-top: .5em ;
	}
	nav li {
		display: block ;
		text-align: center ;
		margin: .5em auto ;
	}

}

@media (min-width: 55em) {

	.lol { display: inline-block; vertical-align: top ; }

	.resright, .disappear {
		display: block ;
		float: right;
		padding: 20px ;
		clear: both ;
		max-height: 300px ;
		max-width: 300px ;
	}

	.resmid {
		max-height: 300px ;
		max-width: 300px ;
	}

	main {
		max-width: var(--genwidth) ;
	}

	.column {
		float: left;
		width: 50% ;
	}

}

/* footer { */
/* 	font-size: large ; */
/* 	margin: auto ; */
/* 	max-width: 500px ; */
/* } */

.entry p, .entry li { margin-left: 2em ; }

figure img { max-width: 100% ; margin: auto ; }

figcaption { font-style: italic ; font-size: small ; }

figure { text-align: center; }

#toc {
	font-size: x-large ;
	margin-left: auto ;
	margin-right: auto ;
	max-width: 500px ;

}

#toc li { padding: 5px }

.new::after {
	content: " ðŸ†•" ;
	/* content: " (New ðŸŽ)" ; */
	color: goldenrod ;
}

.i a { color: green ;}
.d a { color: red ;}

/* For QR codes for bitcoin and crypto */
.qr { max-width: 150px ; padding: 10px }

.entryinfo {
	text-align: center ;
	font-size: x-small ;
	margin: 0 ;
}

#mainmenu {
	font-size: large ;
}

#tagcloud {
	padding: 0;
	font-size: small ;
	font-variant: small-caps ;
	background: midnightblue ;
	border-radius: 10px ;
	text-align: center ;
	margin: 0 auto ;
    max-width: 500px ;
}

#tagcloud li {
	display: inline-block ;
	padding: 0.4em ;
	margin: 0.4em ;
	width: auto ;
	background: darkturquoise ;
	border-radius: 10px ;
}

#tagcloud li:hover {
	background: white ;
}

#tagcloud a { color: black ; }

#taglist {
	max-width: 300px ;
	margin: auto ;
	text-align: center ;
	display: block ;
}

#taglist li {
	display: inline-block ;
	padding-right: 0.5em ;
	padding-left: 0.5em ;
}

#taglist::before { content: "This article is tagged as:" ; display: block; font-size: small ; }

#taglist::after { content: "Click the links above for related articles." ; display: block ;  font-size: small ;}

#mainmenu dd {
  display: inline;
  margin: 0;
}
#mainmenu dd:after{
  display: block;
  content: '';
}
#mainmenu dt{
  display: inline-block;
  min-width: 100px;
}

aside {
	font-style: italic ;
	font-size: small ;
	color: lightgray ;
	margin-left: 3em ;
	margin-right: 3em ;
	padding: 0 1em 0 1em ;
	border: 1px solid black ;
	border-radius: 20px ;
}

blockquote {
	/* text-align: center ; */
}